<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="social-media-list">
          {% if site.email %}
            <a href="mailto:{{ site.email }}"><span class="fa fa-envelope"></span></a>
          {% endif %}

          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}"><span class="fa fa-github"></span></a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}"><span class="fa fa-twitter"></span></a>
          {% endif %}
		  

            <a href="https://www.facebook.com/artica.cc/"><span class="fa fa-facebook"></span></a>
            <a href="https://www.youtube.com/channel/UC_SK27zLYcoPh27UTATRQNQ"><span class="fa fa-youtube"></span></a>
        </div>
      </div>
	  <div class="footer-col footer-col-2">
		  <div class="footer-logos">
			<a href="http://www.qren.pt/" target="_blank">
			  <img src="http://artica.cc/assets/logos/qren1.png">
			</a>
			<a href="http://www.portugal2020.pt" target="_blank">
			  <img src="http://artica.cc/assets/logos/p2020.png">
			</a>
			<a href="http://europa.eu/index_en.htm" >
			  <img src="http://artica.cc/assets/logos/qren3.png">
			</a>
			<!--<a href="http://www.portugal2020.pt" target="_blank">
			  <img src="/assets/p2020.png">
			</a>-->
		</div>
	  </div>
      <!--<div class="footer-col footer-col-2">
        <p>Theme made by <a href="http://masha.space/">Masha Safina</a>. Codes available on <a href="https://github.com/mashlo/captains-log">GitHub</a> 🖖</p>
      </div>-->
    </div>
  </div>
</footer>
